#lerror {
	color: red;
}
canvas {
	margin: 0;
	image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
body {
	margin: 0;
	overflow: hidden;
}
* {
	user-select: none;
}