@import url('https://fonts.googleapis.com/css?family=Montserrat');
#lerror {
	color: red;
}
canvas {
	margin: 0;
	image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
body {
	background-color: silver;
	margin: 0;
	overflow: hidden;

	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
* {
	user-select: none;
}


.lobby {
  position: fixed;
  top: 35%;
  left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

h1 {
	font-size: 60px;
}
h2 {
	font-size: 40px;
}

input {
	padding: 15px;
}

.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
.w3-container, .w3-panel {
    padding: 0.01em 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
}

ul {list-style: none;
	width: 50%;
	left: 50%;
	position: relative;
	transform: translateX(-50%);
}

li {
	padding: 5px;
}