@import url('https://fonts.googleapis.com/css?family=VT323');

#lerror {
	color: red;
}
canvas {
	margin: 0;
	image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
body {
	margin: 0;
	overflow: hidden;

	text-align: center;
	font-family: 'VT323', monospace;
}
* {
	user-select: none;
}


.lobby {
  position: fixed;
  top: 50%;
  left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

h1 {
	font-size: 60px;
}
h2 {
	font-size: 40px;
}